/* Main Styles */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
 box-sizing: content-box;
}

body {
 width: 90%;
 margin: auto;
 font-family: 'Open Sans', cursive;
 color: #4a4a4a;
 background-color: #FDFCEE;
}

h1 , h2, h3 {
 color: #653396;
 font-family: 'Comfortaa', sans-serif;
 letter-spacing: 2px;
 text-align: center;
 text-transform: uppercase;
}

p {
 line-height: 1.5em;
 text-align: center;
}

a {
 position: relative;
 color: #5b5c5e;
}

a: hover {
  color: #653396;
}

a: active {
   top: 1px;
}

.main-header {
   display: flex;
   flex-direction: column;
}

.main-nav {
   display: flex;
   flex-direction: column;
}

.main-header {
  padding-top: 2em;
}

.main-nav {
    margin-top: 2em;
	  list-style-type: none;
}

.main-nav a {
    display: block;
    color: #4a4a4a;
    font-size: 1.125em;
    text-align: center;
    padding: .5em;
	  text-decoration: none;
}

.main-nav a:hover {
    color: #653396;
	  font-weight: 700;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    padding-bottom: 3em;
}

.intro p {
    width: 85%;
}

.img-me {
    margin-top: 1em;
    margin-bottom: 1em;
	  width: 100%;
}

.portfolio, .img {
    display: flex;
    flex-direction: column;
    align-items: center;
	  margin-bottom: .5em;
}

.portfolio {
    margin-top: 0;
    padding-bottom: 3em;
}

.img-portfolio {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1em;
}

#portfolio h2 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0;
}

.portfolio h3, .portfolio p {
    margin-top: 1em;
}

#skills, #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    padding-bottom: 3em;
}

.skills-list {
    display: flex;
    width: 250px;
    justify-content: space-around;
    margin-top: 1em;
	  list-style-type: none;
	  color: #653396;
	  font-weight: bold;
}

.skills-list, a:hover {
    color: #653396;
}

#skills p, #contact p {
    margin-top: 1em;
}

.main-footer, .footer-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    margin-bottom: 2em;
}

.footer-nav {
    display: none;
}

/* Media Queries */

@media (min-width:768px) {

.main-header {
    height: 200px;
}

.main-nav {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
}

.img-me {
    width: 50%;
    margin-top: 2em;
	  float: right;
}

.intro {
    flex-direction: row-reverse;
    align-items: flex-start ;
    margin-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 3em;
		float: left;
}

.intro p {
    width: 50%;
		padding-top: 2em;
    padding-right: 1em;
}

.portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1em;
    margin-top: 1em;
}

.img-portfolio {
    margin-top: 1em;
}

.img {
    width: 45%;
    margin-top: 0;
    padding-bottom: 2em;
    height: 350px;
}

.img h3 {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.img p {
    padding-bottom: 0;
}

.contact-info {
    width: 50%;
}

.footer-nav {
    display: flex;
    margin-top: 0em;
    margin-bottom: 0em;
    align-self: center;
		font-weight: 500;
}

.footer-nav a {
    display: flex;
    flex-direction: row;
		text-decoration: none;
}

.footer-nav li {
    margin-left: 2em;
		list-style-type: none;
}

#backtotop {
    display: none;
}

@media (min-width:1024px) {

body {
    max-width: 1200px;
}

.main-header {
    height: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.main-nav {
    width: 50%;
    justify-content: space-between;
}

.img-me {
    width: 50%;
}

.intro {
    justify-content: space-between;
}

.intro p {
    width: 55%;
		padding-top: 5em;
	  padding-left: .2em;
		padding-right: 2em;
}

.img {
    width: 30%;
}

#backtotop {
    display: none;
		font-weight: 500;
}
}
.footer-nav {
    display: flex;
    margin-top: 0em;
    margin-bottom: 0em;
    align-self: center;
	  font-weight: 500;
}

.footer-nav {
    display: flex;
    flex-direction: row;
		text-decoration: none;
}

    .footer-nav li {
    margin-left: 2em;
		list-style-type: none;
    }
}
